body {
    margin: 0;
    background-color: #00595A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 0;
    background-color: white;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 5rem;
    padding: 0;
    margin:  0;
}

.links {
    padding-left: 30rem;
}

.logo {
    color: cyan;
    font-size: 40px;
}

button {
    padding: 15px;
    border: 0;
    margin: 10px;
    border-radius: 10px;
    background-color: #00989B;
    color: white;
    font-size: 17px;
}

#signup {
    background-color: #E0F6F6;
    color: #00989B;
}

.hero-container {
    margin-left: 5rem;
    color: white;
}

.hero-main {
    font-size: 3rem;
    max-width: 40rem;
    margin-top: 10rem;
}

.hero-sub {
    font-size: 1.2rem;
    max-width: 50rem;
    margin: 2rem 0;
}